In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

#load data files

In [3]:
zipcodes = gpd.read_file('../data/new_Zip_Codes.geojson')
print(zipcodes.crs)
type(zipcodes)
zipcodes.head( )

EPSG:4326

,zipcode,poname,created_date,objectid,globalid,created_user,last_edited_date,last_edited_user,geometry
0,37218,NASHVILLE,NaN,55,{3CB897BE-ACCB-46CB-BA4E-6F5E39D6C451},NaN,NaN,NaN,"MULTIPOLYGON (((-86.88231 36.26248, -86.88270 ..."
1,37080,JOELTON,NaN,32,{C63ADE44-CC5E-4CCD-BBF0-4B8A64864B42},NaN,NaN,NaN,"MULTIPOLYGON (((-86.90742 36.39053, -86.90725 ..."
2,37027,BRENTWOOD,NaN,44,{8846D4AC-5F8A-4434-8348-C9A28297FA4E},NaN,NaN,NaN,"MULTIPOLYGON (((-86.67793 35.98782, -86.67941 ..."
3,37086,LA VERGNE,NaN,5,{1618FE99-089D-4ED0-BAFA-C29A19596F3D},NaN,NaN,NaN,"MULTIPOLYGON (((-86.58870 36.02671, -86.58836 ..."
4,37219,NASHVILLE,NaN,15,{B531C81C-3919-4059-8444-23F5F0684ECA},NaN,NaN,NaN,"MULTIPOLYGON (((-86.78609 36.17465, -86.78585 ..."

In [5]:
hydration_stations = gpd.read_file('../data/Public_Water_Fountains_and_Hydration_Systems_GIS.geojson')
print(hydration_stations.crs)
hydration_stations.head()

EPSG:4326

,name,location,dog,objectid,lon,ada,cnt,lat,feat_type,geometry
0,Beaman Water Fountain,NaN,Y,45921,36.26250456,Y,1,-86.89425346,Fountain/Bottle filler/ADA,POINT (-86.89425 36.26250)
1,Edwin Nature Center Water Fountain,Restrooms Breezeway,N,45937,36.06089915,Y,1,-86.90622747,Bottle Filler/ADA,POINT (-86.90623 36.06090)
2,Percy Warner Belle Meade Gates Water Fountain,Belle Meade Gates,Y,45964,36.08310102,Y,1,-86.86727566,ADA Bowl,POINT (-86.86728 36.08310)
3,West Park Water Fountain,Ballfield,N,45992,36.16179583,N,1,-86.86378994,Single with foot pedal,POINT (-86.86379 36.16180)
4,Richland Park Water Fountain,Playground,N,46012,36.15139384,N,1,-86.84589094,Single with foot pedal,POINT (-86.84589 36.15139)

In [6]:
davidson_border =  gpd.read_file('../data/Davidson_County_Border_GIS.geojson')
print(davidson_border.crs)
davidson_border.head()

EPSG:4326

,area_sq_mi,objectid,shape_area,shape_len,geometry
0,525,4,14641027913.6,686109.334953,"MULTIPOLYGON (((-86.52704 36.13598, -86.52914 ..."
1,0,3,675823.52,3786.70930403,"MULTIPOLYGON (((-86.52315 36.13876, -86.52288 ..."

#verify df type

In [8]:
type(davidson_border)
type(hydration_stations)

geopandas.geodataframe.GeoDataFrame

In [10]:
type(hydration_stations)

geopandas.geodataframe.GeoDataFrame